PERSIST_ADDRESS_SOURCE=localhost
PERSIST_USERNAME_SOURCE=Administrator
PERSIST_PASSWORD_SOURCE=sift123
PERSIST_BUCKET_SOURCE=content
PERSIST_SCOPE_SOURCE=quizflex
PERSIST_COLLECTION_SOURCE=sde

#Below Destination fields applicable for DATA_TRANSFER and DATA_RESTORE Only.
PERSIST_ADDRESS_DESTINATION=13.229.237.84
PERSIST_USERNAME_DESTINATION=Administrator
PERSIST_PASSWORD_DESTINATION=nudge123
PERSIST_BUCKET_DESTINATION=content
PERSIST_SCOPE_DESTINATION=quizflex
PERSIST_COLLECTION_DESTINATION=sde

#DATA_TRANSFER --> Transfer the data from one Couchbase Bucket/Cluster to another
#DATA_BACKUP --> Data Backup from data buckets to files
#DATA_RESTORE --> Restore data from files to data buckets
PERSIST_OPERATION=DATA_TRANSFER

#Applicable for quizflexes, where duplicates are identified and not transfered if set to true.
DEDUPLICATION_NEEDED=true