PERSIST_ADDRESS_SOURCE=localhost
PERSIST_USERNAME_SOURCE=Administrator
PERSIST_PASSWORD_SOURCE=sift123
PERSIST_BUCKET_SOURCE=content
PERSIST_SCOPE_SOURCE=shotstats
PERSIST_COLLECTION_SOURCE=stats

#Below Destination fields applicable for DATA_TRANSFER and DATA_RESTORE Only.
PERSIST_ADDRESS_DESTINATION=47.129.174.146
PERSIST_USERNAME_DESTINATION=Administrator
PERSIST_PASSWORD_DESTINATION=nudge123
PERSIST_BUCKET_DESTINATION=content
PERSIST_SCOPE_DESTINATION=shotstats
PERSIST_COLLECTION_DESTINATION=stats

#DATA_TRANSFER --> Transfer the data from one Couchbase Bucket/Cluster to another
#DATA_BACKUP --> Data Backup from data buckets to files
#DATA_RESTORE --> Restore data from files to data buckets
PERSIST_OPERATION=DATA_TRANSFER