QUIZFLEX_INPUT_FILE=/Users/rajeev/Documents/Other_Drive/SideHustles/NerdNudge/quizflexes/Kafka/kafka_connect
QUIZFLEX_TOPIC=Kafka
QUIZFLEX_SUBTOPIC=Kafka Connect
QUIZFLEX_ID_PREFIX_REPLACEMENT_KEY=kafka_connect_
QUIZFLEX_ID_PREFIX_REPLACE_WITH=kafka_cnt_


PERSIST_ADDRESS=localhost
PERSIST_USERNAME=Administrator
PERSIST_PASSWORD=sift123
PERSIST_BUCKET=content
PERSIST_SCOPE=quizflex
PERSIST_COLLECTION=kafka