QUIZFLEX_INPUT_FILE=/Users/rajeev/Documents/Other_Drive/SideHustles/NerdNudge/quizflexes/Python/py_mem
QUIZFLEX_TOPIC=Python
QUIZFLEX_SUBTOPIC=Memory Management
QUIZFLEX_ID_PREFIX_REPLACEMENT_KEY=NA
QUIZFLEX_ID_PREFIX_REPLACE_WITH=NA


PERSIST_ADDRESS=localhost
PERSIST_USERNAME=Administrator
PERSIST_PASSWORD=sift123
PERSIST_BUCKET=content
PERSIST_SCOPE=quizflex
PERSIST_COLLECTION=py