QUIZFLEX_INPUT_FILE=/Users/rajeev/Documents/Other_Drive/SideHustles/NerdNudge/quizflexes/Kafka/rwc_kafka_architecture
QUIZFLEX_TOPIC=Kafka
QUIZFLEX_SUBTOPIC=Kafka Architecture
QUIZFLEX_ID_PREFIX_REPLACEMENT_KEY=NA
QUIZFLEX_ID_PREFIX_REPLACE_WITH=NA


PERSIST_ADDRESS=13.212.208.11
PERSIST_USERNAME=Administrator
PERSIST_PASSWORD=nudge123
PERSIST_BUCKET=content
PERSIST_SCOPE=rwc
PERSIST_COLLECTION=kafka